@media screen and (max-width: 1366px) {
  #advantages #advantages-container #decor-4, #decor-5 {
    display: none;
  }

  #rituals {
    overflow: hidden;
  }

  //#rituals #rituals-container #rituals-flower {
  //  //clip: rect(auto, 158px, auto, auto);
  //  //display: none;
  //  overflow: hidden;
  //}

  #master #master-container #decor-13, #decor-14, #decor-15, #decor-16 {
    display: none;
  }

  #contacts #contacts-container #decor-23, #decor-24 {
    display: none;
  }
}

/*1200-1229px*/
@media screen and (max-width: 1229px) {
  #advantages #advantages-container #decor-4, #decor-5 {
    display: none;
  }

  #master #master-container #decor-13, #decor-14, #decor-15, #decor-16 {
    display: none;
  }

  #contacts #contacts-container #decor-23, #decor-24 {
    display: none;
  }
}

/*1024-1199px*/
@media screen and (max-width: 1199px) {

}