/*1200-1920*/
@media screen and (max-width: 1920px) {
  #advantages, #rituals, #gallery, #master, #contacts {
    overflow: hidden;
  }
}

/*1200-1229px*/
@media screen and (max-width: 1229px) {

}

/*1024-1199px*/
@media screen and (max-width: 1199px) {
  #main #main-header #main-header-container {
    padding: 40px 10px;
  }

  #main #main-container {
    padding: 0 10px;
  }

  #advantages #advantages-container {
    padding: 150px 10px 0 10px;
  }

  #advantages #advantages-container #advantages-items .advantage-item:first-child {
    margin-right: 85px;
  }

  #advantages #advantages-container #advantages-items .advantage-item:nth-child(3) {
    margin-left: 75px;
    margin-right: 77px;
  }

  #rituals {
    padding-bottom: 100px;
  }

  #rituals #rituals-container #rituals-flower {
    right: -140px;
  }

  #rituals #rituals-container {
    padding: 0 10px;
  }

  #rituals #rituals-container #rituals-items {
    width: 845px;
    margin: 0 auto 10px auto;
    flex-wrap: wrap;
    justify-content: space-around;

  }

  #rituals #rituals-container #rituals-items .ritual-item {
    margin-bottom: 15px;
  }

  #present #present-container {
    padding: 0 10px;
  }

  #master #master-container {
    padding: 0 10px;

    .master-slick {

      .slick-prev {
        top: 297px;
        left: 399px;
      }

      .slick-next {
        top: 297px;
        right: 399px;
      }

      .slick-slide img {
        width: 320px;
      }
    }

  }

  #gallery #gallery-container {
    padding: 260px 10px;

    #decor-18 {
      right: 165px;
    }

    .gallery-slick {

      .slick-prev {
        top: 303px;
        left: 345px;
      }

      .slick-next {
        top: 303px;
        right: 345px;
      }

      .slick-slide img {
        width: 317px;
      }
    }
  }

  #answer #answer-container {
    padding: 30px 10px 45px 10px;

    .title {
      text-align: center;
    }

    #answer-block {
      flex-wrap: wrap;
      justify-content: center;

      #answer-form {
        margin-top: 15px;
      }
    }
  }

  #contacts {
    #contacts-container {
      padding: 0 10px;

      #contacts-text .contact-text-description:nth-child(2) {
        margin-bottom: 40px;
      }
    }
  }

  #footer {
    #footer-container {
      padding: 47px 10px;
    }
  }

}